<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    添加网页图标-->
    <link rel="shortcut icon" href="../public/image/app_main_round.png">
    <link rel="stylesheet" type="text/css" href="public/CSSFile/currency.css" />
    <title>图书管理</title>

    <style>

        table td {
            line-height: 36px;
            background-color: white;
            border: 1px solid white;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <table class="box">
        <tr>
            <th class="six">图书编号</th>
            <th class="six">图书名称</th>
            <th class="six">图书主编</th>
            <th class="six">出版社</th>
            <th class="six">在架数目</th>
            <th class="six">图书分类</th>
            <th class="six">登记日期</th>
        </tr>
        <tr>
            <td><input></td>
            <td><input></td>
            <td><input></td>
            <td><input></td>
            <td><input></td>
            <td><input></td>
            <td><input></td>
        </tr>

    </table>
</div>
</body>
</html>